In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import gmplot 
import statistics

In [2]:
import datetime

tashu = pd.read_csv('./data/tashu.csv')
tashu['RETURN_DATE'] = pd.to_datetime(tashu['RETURN_DATE'], format='%Y%m%d%H')
tashu

         RENT_STATION   RENT_DATE  RETURN_STATION         RETURN_DATE
0                43.0  2013010105            34.0 2013-01-01 06:00:00
1                97.0  2013010106             NaN 2013-01-01 10:00:00
2                 2.0  2013010106            10.0 2013-01-01 06:00:00
3               106.0  2013010110           105.0 2013-01-01 10:00:00
4                 4.0  2013010111             4.0 2013-01-01 12:00:00
5                21.0  2013010111           105.0 2013-01-01 11:00:00
6                90.0  2013010112            91.0 2013-01-01 12:00:00
7                13.0  2013010113            30.0 2013-01-01 13:00:00
8                 1.0  2013010113             1.0 2013-01-01 13:00:00
9                 1.0  2013010113             2.0 2013-01-01 15:00:00
10                1.0  2013010113             2.0 2013-01-01 15:00:00
11                9.0  2013010113            23.0 2013-01-01 14:00:00
12               27.0  2013010113            27.0 2013-01-01 13:00:00
13               30.0  2013010113             7.0 2013-01-01 14:00:00
14               30.0  2013010113            30.0 2013-01-01 13:00:00
15               30.0  2013010113            18.0 2013-01-01 14:00:00
16               30.0  2013010113             8.0 2013-01-01 14:00:00
17               30.0  2013010113            30.0 2013-01-01 13:00:00
18               30.0  2013010113            30.0 2013-01-01 13:00:00
19               30.0  2013010113            18.0 2013-01-01 14:00:00
20               30.0  2013010113            29.0 2013-01-01 15:00:00
21               30.0  2013010113            29.0 2013-01-01 15:00:00
22               46.0  2013010114            18.0 2013-01-01 14:00:00
23               19.0  2013010114            19.0 2013-01-01 14:00:00
24               19.0  2013010114            19.0 2013-01-01 14:00:00
25               47.0  2013010114            47.0 2013-01-01 14:00:00
26               43.0  2013010114            43.0 2013-01-01 14:00:00
27               34.0  2013010114            12.0 2013-01-01 14:00:00
28               90.0  2013010115            90.0 2013-01-01 16:00:00
29               30.0  2013010115            17.0 2013-01-01 15:00:00
...               ...         ...             ...                 ...
3400349          30.0  2015123123            18.0 2015-12-31 23:00:00
3400350          30.0  2015123123            44.0 2015-12-31 23:00:00
3400351         103.0  2015123123            97.0 2015-12-31 23:00:00
3400352          30.0  2015123123            30.0 2015-12-31 23:00:00
3400353          64.0  2015123123            55.0 2015-12-31 23:00:00
3400354          30.0  2015123123            30.0 2015-12-31 23:00:00
3400355          13.0  2015123123            15.0 2015-12-31 23:00:00
3400356          83.0  2015123123           138.0 2016-01-01 00:00:00
3400357         118.0  2015123123           118.0 2015-12-31 23:00:00
3400358          30.0  2015123123            17.0 2015-12-31 23:00:00
3400359          84.0  2015123123           138.0 2016-01-01 00:00:00
3400360          84.0  2015123123           138.0 2016-01-01 00:00:00
3400361         113.0  2015123123           113.0 2016-01-01 00:00:00
3400362          44.0  2015123123            18.0 2015-12-31 23:00:00
3400363         118.0  2015123123            74.0 2016-01-01 00:00:00
3400364          10.0  2015123123            29.0 2015-12-31 23:00:00
3400365          60.0  2015123123            69.0 2015-12-31 23:00:00
3400366          17.0  2015123123            19.0 2015-12-31 23:00:00
3400367         175.0  2015123123            90.0 2016-01-01 00:00:00
3400368         152.0  2015123123           152.0 2015-12-31 23:00:00
3400369          46.0  2015123123           110.0 2016-01-01 00:00:00
3400370          89.0  2015123123           134.0 2016-01-01 00:00:00
3400371         138.0  2015123123            46.0 2016-01-01 00:00:00
3400372         143.0  2015123123           172.0 2016-01-01 00:00:00
3400373         107.0  2015123123           105.0 2016-01-01 00:00:00
3400374          32.0  2015123123            54.0 2016-01-01 00:00:00
3400375         152.0  2015123123           152.0 2016-01-01 00:00:00
3400376          22.0  2015123123            33.0 2016-01-01 00:00:00
3400377          71.0  2015123123            76.0 2016-01-01 00:00:00
3400378          43.0  2015123123           107.0 2016-01-01 00:00:00

[3400379 rows x 4 columns]

In [3]:
weather = pd.read_csv('./data/weather.csv')
from pandas import DataFrame as df

weather['일시'] = pd.to_datetime(weather['일시'], format='%Y%m%d%H')

In [4]:
df1 = df(data={'year':[], 'month':[], 'day':[], 'hour':[]})

df1['year'] = weather['일시'].astype(str).str[0:4]
df1['month'] = weather['일시'].astype(str).str[5:7]
#month = month.rename(columns={'일시':'month'})
df1['day'] = weather['일시'].astype(str).str[8:10]
df1['hour'] = weather['일시'].astype(str).str[11:13]

df1

       year month day hour
0      2013    01  01   00
1      2013    01  01   01
2      2013    01  01   02
3      2013    01  01   03
4      2013    01  01   04
5      2013    01  01   05
6      2013    01  01   06
7      2013    01  01   07
8      2013    01  01   08
9      2013    01  01   09
10     2013    01  01   10
11     2013    01  01   11
12     2013    01  01   12
13     2013    01  01   13
14     2013    01  01   14
15     2013    01  01   15
16     2013    01  01   16
17     2013    01  01   17
18     2013    01  01   18
19     2013    01  01   19
20     2013    01  01   20
21     2013    01  01   21
22     2013    01  01   22
23     2013    01  01   23
24     2013    01  02   00
25     2013    01  02   01
26     2013    01  02   02
27     2013    01  02   03
28     2013    01  02   04
29     2013    01  02   05
...     ...   ...  ..  ...
26250  2015    12  30   18
26251  2015    12  30   19
26252  2015    12  30   20
26253  2015    12  30   21
26254  2015    12  30   22
26255  2015    12  30   23
26256  2015    12  31   00
26257  2015    12  31   01
26258  2015    12  31   02
26259  2015    12  31   03
26260  2015    12  31   04
26261  2015    12  31   05
26262  2015    12  31   06
26263  2015    12  31   07
26264  2015    12  31   08
26265  2015    12  31   09
26266  2015    12  31   10
26267  2015    12  31   11
26268  2015    12  31   12
26269  2015    12  31   13
26270  2015    12  31   14
26271  2015    12  31   15
26272  2015    12  31   16
26273  2015    12  31   17
26274  2015    12  31   18
26275  2015    12  31   19
26276  2015    12  31   20
26277  2015    12  31   21
26278  2015    12  31   22
26279  2015    12  31   23

[26280 rows x 4 columns]

In [5]:
weather = pd.concat([weather, df1], axis=1)

def season(month):
    if month>=3 and month<=5: return 0
    elif month>=6 and month<=8: return 1
    elif month>=9 and month<=11: return 2
    else: return 3

# print(weather.head(5))
# weather['season'] = 0
# print(weather.iloc[0, 8])
ss = []
for i in weather['month']:
    ss.append(season(int(i)))

In [6]:
weather['season'] = ss

weather

,일시,기온,강수량,풍속,습도,현지기압,적설,year,month,day,hour,season
0,2013-01-01 00:00:00,-8.8,NaN,0.1,90.0,1013.3,8.8,2013,01,01,00,3
1,2013-01-01 01:00:00,-8.5,NaN,0.9,90.0,1013.2,8.8,2013,01,01,01,3
2,2013-01-01 02:00:00,-8.5,NaN,1.0,89.0,1012.6,8.8,2013,01,01,02,3
3,2013-01-01 03:00:00,-9.0,NaN,0.7,91.0,1012.5,8.8,2013,01,01,03,3
4,2013-01-01 04:00:00,-9.1,NaN,0.6,92.0,1011.4,8.8,2013,01,01,04,3
5,2013-01-01 05:00:00,-9.4,NaN,0.5,92.0,1010.4,8.8,2013,01,01,05,3
6,2013-01-01 06:00:00,-9.0,NaN,1.4,93.0,1009.7,8.8,2013,01,01,06,3
7,2013-01-01 07:00:00,-8.3,NaN,0.2,94.0,1009.1,9.6,2013,01,01,07,3
8,2013-01-01 08:00:00,-7.3,NaN,1.7,96.0,1008.9,10.5,2013,01,01,08,3
9,2013-01-01 09:00:00,-6.4,2.2,0.9,96.0,1009.4,12.8,2013,01,01,09,3
10,2013-01-01 10:00:00,-5.3,NaN,0.4,98.0,1009.8,15.3,2013,01,01,10,3
11,2013-01-01 11:00:00,-3.4,NaN,0.9,93.0,1010.1,15.5,2013,01,01,11,3
12,2013-01-01 12:00:00,-0.5,1.9,0.7,88.0,1009.5,15.0,2013,01,01,12,3
13,2013-01-01 13:00:00,3.1,NaN,2.0,73.0,1008.9,14.0,2013,01,01,13,3
14,2013-01-01 14:00:00,2.5,NaN,2.4,69.0,1009.3,12.5,2013,01,01,14,3
15,2013-01-01 15:00:00,0.8,0.2,3.8,90.0,1010.0,12.5,2013,01,01,15,3
16,2013-01-01 16:00:00,1.1,NaN,2.4,84.0,1010.6,13.8,2013,01,01,16,3
17,2013-01-01 17:00:00,0.5,NaN,2.2,83.0,1011.5,14.0,2013,01,01,17,3
18,2013-01-01 18:00:00,-1.4,0.5,0.5,90.0,1011.9,14.0,2013,01,01,18,3
19,2013-01-01 19:00:00,-1.7,NaN,1.2,94.0,1011.9,14.0,2013,01,01,19,3
20,2013-01-01 20:00:00,-2.0,NaN,1.0,95.0,1011.8,14.0,2013,01,01,20,3
21,2013-01-01 21:00:00,-2.4,NaN,1.1,98.0,1011.6,14.0,2013,01,01,21,3
22,2013-01-01 22:00:00,-3.3,NaN,0.2,97.0,1011.3,14.0,2013,01,01,22,3
23,2013-01-01 23:00:00,-3.2,NaN,1.4,98.0,1011.6,14.1,2013,01,01,23,3
24,2013-01-02 00:00:00,-1.3,0.8,2.5,100.0,1011.2,15.7,2013,01,02,00,3
25,2013-01-02 01:00:00,-0.8,NaN,0.9,100.0,1012.0,18.1,2013,01,02,01,3
26,2013-01-02 02:00:00,-1.3,NaN,3.4,89.0,1013.2,18.3,2013,01,02,02,3
27,2013-01-02 03:00:00,-3.5,1.8,3.8,80.0,1015.4,18.3,2013,01,02,03,3
28,2013-01-02 04:00:00,-5.3,NaN,2.8,79.0,1017.2,18.4,2013,01,02,04,3
29,2013-01-02 05:00:00,-6.5,NaN,1.8,83.0,1018.1,18.4,2013,01,02,05,3
...,...,...,...,...,...,...,...,...,...,...,...,...
26250,2015-12-30 18:00:00,4.2,NaN,1.3,67.0,1018.6,NaN,2015,12,30,18,3
26251,2015-12-30 19:00:00,4.3,NaN,1.1,66.0,1018.8,NaN,2015,12,30,19,3
26252,2015-12-30 20:00:00,3.3,NaN,2.5,87.0,1019.4,NaN,2015,12,30,20,3
26253,2015-12-30 21:00:00,2.7,1.0,2.8,92.0,1019.4,NaN,2015,12,30,21,3
26254,2015-12-30 22:00:00,2.0,NaN,2.1,94.0,1019.1,NaN,2015,12,30,22,3
26255,2015-12-30 23:00:00,1.8,NaN,1.4,95.0,1019.3,NaN,2015,12,30,23,3
26256,2015-12-31 00:00:00,1.8,0.6,1.5,94.0,1019.0,NaN,2015,12,31,00,3
26257,2015-12-31 01:00:00,1.7,NaN,0.5,94.0,1018.8,NaN,2015,12,31,01,3
26258,2015-12-31 02:00:00,1.3,NaN,0.6,96.0,1018.9,NaN,2015,12,31,02,3
26259,2015-12-31 03:00:00,1.0,NaN,1.0,96.0,1019.1,NaN,2015,12,31,03,3
26260,2015-12-31 04:00:00,1.0,NaN,0.9,97.0,1019.1,NaN,2015,12,31,04,3
26261,2015-12-31 05:00:00,0.4,NaN,0.5,97.0,1019.5,NaN,2015,12,31,05,3
26262,2015-12-31 06:00:00,0.4,NaN,0.5,97.0,1020.0,NaN,2015,12,31,06,3
26263,2015-12-31 07:00:00,0.0,NaN,1.2,97.0,1020.5,NaN,2015,12,31,07,3
26264,2015-12-31 08:00:00,0.0,NaN,1.4,97.0,1021.2,NaN,2015,12,31,08,3
26265,2015-12-31 09:00:00,0.4,NaN,0.3,97.0,1022.1,NaN,2015,12,31,09,3
26266,2015-12-31 10:00:00,1.5,NaN,0.8,97.0,1023.0,NaN,2015,12,31,10,3
26267,2015-12-31 11:00:00,2.4,NaN,1.2,90.0,1023.3,NaN,2015,12,31,11,3
26268,2015-12-31 12:00:00,3.8,NaN,2.6,70.0,1023.1,NaN,2015,12,31,12,3
26269,2015-12-31 13:00:00,4.7,NaN,2.1,65.0,1022.7,NaN,2015,12,31,13,3
26270,2015-12-31 14:00:00,5.4,NaN,2.2,59.0,1022.3,NaN,2015,12,31,14,3
26271,2015-12-31 15:00:00,5.5,NaN,1.8,57.0,1022.5,NaN,2015,12,31,15,3
26272,2015-12-31 16:00:00,4.9,NaN,1.8,59.0,1022.8,NaN,2015,12,31,16,3
26273,2015-12-31 17:00:00,4.2,NaN,1.1,62.0,1023.3,NaN,2015,12,31,17,3
26274,2015-12-31 18:00:00,2.7,NaN,1.2,68.0,1024.0,NaN,2015,12,31,18,3
26275,2015-12-31 19:00:00,1.2,NaN,1.0,76.0,1024.4,NaN,2015,12,31,19,3
26276,2015-12-31 20:00:00,0.4,NaN,0.8,80.0,1024.7,NaN,2015,12,31,20,3
26277,2015-12-31 21:00:00,0.0,NaN,0.5,83.0,1024.9,NaN,2015,12,31,21,3
26278,2015-12-31 22:00:00,-1.0,NaN,1.1,87.0,1025.3,NaN,2015,12,31,22,3
26279,2015-12-31 23:00:00,-1.4,NaN,0.2,90.0,1025.5,NaN,2015,12,31,23,3

In [7]:
from pandas import DataFrame as df

tashu = tashu.rename(columns = {'RENT_DATE': '일시'})

tashu.head(10)

   RENT_STATION          일시  RETURN_STATION         RETURN_DATE
0          43.0  2013010105            34.0 2013-01-01 06:00:00
1          97.0  2013010106             NaN 2013-01-01 10:00:00
2           2.0  2013010106            10.0 2013-01-01 06:00:00
3         106.0  2013010110           105.0 2013-01-01 10:00:00
4           4.0  2013010111             4.0 2013-01-01 12:00:00
5          21.0  2013010111           105.0 2013-01-01 11:00:00
6          90.0  2013010112            91.0 2013-01-01 12:00:00
7          13.0  2013010113            30.0 2013-01-01 13:00:00
8           1.0  2013010113             1.0 2013-01-01 13:00:00
9           1.0  2013010113             2.0 2013-01-01 15:00:00

In [8]:
station = pd.read_csv('./data/station.csv')
station

,번호,키오스크번호,구별,명칭,위치,주소,거치대,좌표
0,1,1,유성구,무역전시관입구(택시승강장 앞),엑스포다리 맞은편,유성구 도룡동 3-8,14,"36.374325,127.387462"
1,2,2,유성구,대전컨벤션 센터 앞,둔산대교 맞은편,유성구 도룡동 4-19,20,"36.374472,127.392241"
2,3,3,서구,한밭수목원(정문입구),한밭수목원 내,서구 만년동 396,19,"36.369855,127.388749"
3,4,4,서구,초원아파트104동부근(버스정류장),초원아파트 104동앞 쪽문 육교 버스정류장 앞,서구 만년동 401,12,"36.368192,127.379281"
4,5,5,서구,둔산대공원 입구(버스정류장),한밭수목원에서 평송수련원 가는길 버스정류장 앞,서구 둔산동 1521-10,13,"36.365034,127.389361"
5,6,6,서구,백합4가 앞(농협앞),백합아파트 상가 농협 버스정류장 앞,서구 월평2동 266,12,"36.362304,127.376419"
6,7,7,서구,정부청사 입구(대덕대로),둔산 시외버스터미널 버스정류장 앞,서구 둔산동 920-2,13,"36.361665,127.379699"
7,8,8,서구,정부청사 입구(샘머리),둔산 고속버스터미널 버스정류장 앞,서구 둔산동 1518,12,"36.361794,127.390417"
8,9,9,서구,황실아파트앞(성룡초교 앞),성룡초교 정문 버스정류장앞,서구 월평동 304,12,"36.361392,127.374236"
9,10,10,서구,만년동 KBS 부근(기업은행 앞),초원아파트 102동 육교 건너편,서구 만년동 300,12,"36.369207,127.379801"
10,11,11,서구,누리아파트앞(후문버스정류장),누리아파트 후문과 무지개아파트 사이 버스정류장 앞,서구 월평3동 301,12,"36.358995,127.374158"
11,12,12,서구,정부청사역 앞(4번 출구),삼성생명 앞,서구 둔산2동 949-1,13,"36.357945,127.381749"
12,13,13,서구,삼천중학교 앞,수정타운 아파트1동 버스정류장 앞,서구 둔산2동 911,12,"36.358597,127.395406"
13,14,14,서구,둔산 하이마트 앞,둔산 이마트 맞은편 하이마트 버스정류장 앞,서구 둔산2동 962,20,"36.355558,127.379243"
14,15,15,서구,둔산 홈플러스 앞,법원 버스정류장 앞,서구 둔산동 1380-5,13,"36.355591,127.390063"
15,16,16,서구,국화아파트앞(501동 앞),국화아파트 501동 버스정류장 앞,서구 둔산동 1386,12,"36.353776,127.395398"
16,17,17,서구,타임월드 앞,타임월드 서문 버스정류장 앞/우리은행 앞,서구 둔산2동 1036,20,"36.35219,127.378814"
17,18,18,서구,대전시청 앞,대전 시청 버스정류장 앞/시청역 2번출구,서구 둔산1동 1420,17,"36.351132,127.384838"
18,19,19,서구,현대아이텔 앞(버스정류장),현대아이텔 버스정류장 앞/시청역 6번 출구,서구 둔산1동 1457,13,"36.351344,127.388518"
19,20,20,서구,크로바아파트앞(목련아파트 사이 버스정류장),크로바아파트와 목련아파트 사이 버스정류장 앞/크로바 아파트 상가 맞은편,서구 둔산동 1554-1,12,"36.351158,127.39193"
20,21,21,유성구,카이스트 학사식당 앞,카이스트 학사식당 앞,온천2동 7.7 m 북,28,"36.373457,127.359293"
21,22,22,유성구,카이스트 창의학습관 앞,카이스트 창의학습관 앞,온천2동 24 m 동,28,"36.370263,127.362136"
22,23,23,유성구,카이스트 정문,카이스트 정문/경비실 안쪽,유성구 구성동 284-4,14,"36.36617,127.363966"
23,24,24,유성구,화폐박물관,화폐박물관 정문,유성구 가정동 35,12,"36.376804, 127.371004"
24,25,25,유성구,카이스트 후문,카이스트 후문 맞은편,유성구 구성동 145,13,"36.374511, 127.366894"
25,26,26,유성구,엑스포 과학공원 주차장,국립중앙과학관 주차장 입구 버스정류장 앞,유성구 가정동 39-2,13,"36.37693, 127.37875"
26,27,27,유성구,엑스포 과학공원 앞,엑스포 과학공원 버스정류장 앞,유성구 도룡동 3-1,13,"36.377146, 127.379383"
27,28,28,유성구,스마트시티,스마트시티2단지201동앞/ DCC 뒤편,유성구 도룡동 4-32,14,"36.377927, 127.390637"
28,29,29,서구,만년동주민센터,만년동 주민센터,서구 만년동 13,16,"36.367511, 127.375161"
29,30,30,서구,선사유적지주차장 앞,CGV영화관 버스정류장 앞,서구 월평2동 243,12,"36.361967, 127.379233"
...,...,...,...,...,...,...,...,...
114,115,115,동구,한전건너편,NaN,동구 용전동 45-1,13,"36.357491,127.434317"
115,116,116,동구,홈플러스(동대전),NaN,동구 용전동 51-17,13,"36.35394,127.434754"
116,117,117,동구,동부네거리,NaN,동구 용전동 111-26,13,"36.350417,127.440376"
117,118,118,동구,복합터미널,NaN,동구 용전동 143-16,13,"36.348576,127.435076"
118,119,119,동구,용전동 천주교회앞,NaN,동구 용전동 144-1,13,"36.34952,127.432759"
119,120,120,동구,한국통신 용전지점 앞,NaN,동구 용전동 167-20,13,"36.353089,127.43219"
120,121,121,동구,용전동 주민센터 건너,NaN,동구 용전동 44-2,12,"36.357427,127.433048"
121,122,122,대덕구,한남대후문 입구,NaN,대덕구 중리동 231-5,13,"36.359669,127.431911"
122,123,123,대덕구,대덕경찰서앞,NaN,대덕구 문평동 83-2번지,12,"36.44694,127.406398"
123,124,124,대덕구,목상동주민센터앞,NaN,대덕구 목상동 185-1번지,12,"36.448472,127.412412"
124,125,125,대덕구,엑슬루타워 앞,NaN,대덕구 석봉동 336번지,10,"36.449253,127.420131"
125,126,126,대덕구,신탄진 주민센터옆,NaN,대덕구 신탄진동 120-1번지,10,"36.451985,127.42887"
126,127,127,대덕구,신탄진역 앞,NaN,대덕구 신탄진동 147-6번지,13,"36.448623,127.429218"
127,128,128,대덕구,과선교버스정류장,NaN,대덕구 평촌동 264-64번지,13,"36.443126,127.429411"
128,129,129,대덕구,신탄진고 4가,NaN,대덕구 신탄진동 149-6번지,12,"36.448472,127.435817"
129,130,130,대덕구,용정초등학교앞,NaN,대덕구 신탄진동 52-1번지,13,"36.45389,127.436737"
130,131,131,대덕구,에코공원앞,NaN,대덕구 신탄진동 산1-7번지,12,"36.448772,127.444365"
131,132,132,대덕구,삼정3가,NaN,대덕구 삼정동 산27-4번지,13,"36.444265,127.434191"
132,133,133,중구,오룡역7번출구,NaN,중구 오류동 113-1번지,13,"36.322562,127.411996"
133,134,134,중구,중도일보사 앞,NaN,중구 오류동 175-3번지,10,"36.326058,127.407828"
134,135,135,중구,서대전역네거리(삼성디지털 프라자),NaN,중구 오류동 168-7번지,13,"36.320277,127.405811"
135,136,136,중구,중구청역4번출구(중구청의회),NaN,중구 대흥동 499-1번지,12,"36.32549,127.420018"
136,137,137,중구,센트럴파크 302동 앞,NaN,중구 문화동 1-256번지,13,"36.31838,127.411655"
137,138,138,중구,센트럴파크 105동 앞,NaN,중구 문화동 284-168번지,13,"36.316476,127.407345"
138,139,139,중구,서대전지하철3번출구(대순진리회),NaN,중구 오류동 152-5번지,13,"36.3223,127.411634"
139,140,140,중구,대전시민대학 정문,NaN,중구 선화동 287-2번지,16,"36.326784,127.419699"
140,141,141,중구,대전 세무서앞,NaN,중구 선화동 184-1번지,13,"36.330883,127.419077"
141,142,142,중구,참좋은APT 가자주류대전,NaN,중구 선화동 83-1번지,13,"36.331845,127.422864"
142,143,143,중구,중앙로역3번출구(궁죽본점앞),NaN,중구 대흥동 198-1번지,13,"36.328029,127.426174"
143,144,144,유성구,타슈 관제센터,NaN,유성구 원촌동 76-1,11,"36.389376,127.409729"

In [9]:
#result1 = pd.concat([station, weather], join='outer', axis=1)
#result1
def cartesian_product_basic(left, right):
    return (
       left.assign(key=1).merge(right.assign(key=1), on='key').drop('key', 1))

result1 = cartesian_product_basic(station, weather)
#result1 = pd.merge(weather, station, how='outer')
#result1.fillna(0)
##result1.sort_values(by='일시', ascending=True)

In [10]:
del result1['번호']
del result1['구별']
del result1['명칭']
del result1['위치']
del result1['주소']
del result1['거치대']
del result1['좌표']

result1

,키오스크번호,일시,기온,강수량,풍속,습도,현지기압,적설,year,month,day,hour,season
0,1,2013-01-01 00:00:00,-8.8,NaN,0.1,90.0,1013.3,8.8,2013,01,01,00,3
1,1,2013-01-01 01:00:00,-8.5,NaN,0.9,90.0,1013.2,8.8,2013,01,01,01,3
2,1,2013-01-01 02:00:00,-8.5,NaN,1.0,89.0,1012.6,8.8,2013,01,01,02,3
3,1,2013-01-01 03:00:00,-9.0,NaN,0.7,91.0,1012.5,8.8,2013,01,01,03,3
4,1,2013-01-01 04:00:00,-9.1,NaN,0.6,92.0,1011.4,8.8,2013,01,01,04,3
5,1,2013-01-01 05:00:00,-9.4,NaN,0.5,92.0,1010.4,8.8,2013,01,01,05,3
6,1,2013-01-01 06:00:00,-9.0,NaN,1.4,93.0,1009.7,8.8,2013,01,01,06,3
7,1,2013-01-01 07:00:00,-8.3,NaN,0.2,94.0,1009.1,9.6,2013,01,01,07,3
8,1,2013-01-01 08:00:00,-7.3,NaN,1.7,96.0,1008.9,10.5,2013,01,01,08,3
9,1,2013-01-01 09:00:00,-6.4,2.2,0.9,96.0,1009.4,12.8,2013,01,01,09,3
10,1,2013-01-01 10:00:00,-5.3,NaN,0.4,98.0,1009.8,15.3,2013,01,01,10,3
11,1,2013-01-01 11:00:00,-3.4,NaN,0.9,93.0,1010.1,15.5,2013,01,01,11,3
12,1,2013-01-01 12:00:00,-0.5,1.9,0.7,88.0,1009.5,15.0,2013,01,01,12,3
13,1,2013-01-01 13:00:00,3.1,NaN,2.0,73.0,1008.9,14.0,2013,01,01,13,3
14,1,2013-01-01 14:00:00,2.5,NaN,2.4,69.0,1009.3,12.5,2013,01,01,14,3
15,1,2013-01-01 15:00:00,0.8,0.2,3.8,90.0,1010.0,12.5,2013,01,01,15,3
16,1,2013-01-01 16:00:00,1.1,NaN,2.4,84.0,1010.6,13.8,2013,01,01,16,3
17,1,2013-01-01 17:00:00,0.5,NaN,2.2,83.0,1011.5,14.0,2013,01,01,17,3
18,1,2013-01-01 18:00:00,-1.4,0.5,0.5,90.0,1011.9,14.0,2013,01,01,18,3
19,1,2013-01-01 19:00:00,-1.7,NaN,1.2,94.0,1011.9,14.0,2013,01,01,19,3
20,1,2013-01-01 20:00:00,-2.0,NaN,1.0,95.0,1011.8,14.0,2013,01,01,20,3
21,1,2013-01-01 21:00:00,-2.4,NaN,1.1,98.0,1011.6,14.0,2013,01,01,21,3
22,1,2013-01-01 22:00:00,-3.3,NaN,0.2,97.0,1011.3,14.0,2013,01,01,22,3
23,1,2013-01-01 23:00:00,-3.2,NaN,1.4,98.0,1011.6,14.1,2013,01,01,23,3
24,1,2013-01-02 00:00:00,-1.3,0.8,2.5,100.0,1011.2,15.7,2013,01,02,00,3
25,1,2013-01-02 01:00:00,-0.8,NaN,0.9,100.0,1012.0,18.1,2013,01,02,01,3
26,1,2013-01-02 02:00:00,-1.3,NaN,3.4,89.0,1013.2,18.3,2013,01,02,02,3
27,1,2013-01-02 03:00:00,-3.5,1.8,3.8,80.0,1015.4,18.3,2013,01,02,03,3
28,1,2013-01-02 04:00:00,-5.3,NaN,2.8,79.0,1017.2,18.4,2013,01,02,04,3
29,1,2013-01-02 05:00:00,-6.5,NaN,1.8,83.0,1018.1,18.4,2013,01,02,05,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3784290,144,2015-12-30 18:00:00,4.2,NaN,1.3,67.0,1018.6,NaN,2015,12,30,18,3
3784291,144,2015-12-30 19:00:00,4.3,NaN,1.1,66.0,1018.8,NaN,2015,12,30,19,3
3784292,144,2015-12-30 20:00:00,3.3,NaN,2.5,87.0,1019.4,NaN,2015,12,30,20,3
3784293,144,2015-12-30 21:00:00,2.7,1.0,2.8,92.0,1019.4,NaN,2015,12,30,21,3
3784294,144,2015-12-30 22:00:00,2.0,NaN,2.1,94.0,1019.1,NaN,2015,12,30,22,3
3784295,144,2015-12-30 23:00:00,1.8,NaN,1.4,95.0,1019.3,NaN,2015,12,30,23,3
3784296,144,2015-12-31 00:00:00,1.8,0.6,1.5,94.0,1019.0,NaN,2015,12,31,00,3
3784297,144,2015-12-31 01:00:00,1.7,NaN,0.5,94.0,1018.8,NaN,2015,12,31,01,3
3784298,144,2015-12-31 02:00:00,1.3,NaN,0.6,96.0,1018.9,NaN,2015,12,31,02,3
3784299,144,2015-12-31 03:00:00,1.0,NaN,1.0,96.0,1019.1,NaN,2015,12,31,03,3
3784300,144,2015-12-31 04:00:00,1.0,NaN,0.9,97.0,1019.1,NaN,2015,12,31,04,3
3784301,144,2015-12-31 05:00:00,0.4,NaN,0.5,97.0,1019.5,NaN,2015,12,31,05,3
3784302,144,2015-12-31 06:00:00,0.4,NaN,0.5,97.0,1020.0,NaN,2015,12,31,06,3
3784303,144,2015-12-31 07:00:00,0.0,NaN,1.2,97.0,1020.5,NaN,2015,12,31,07,3
3784304,144,2015-12-31 08:00:00,0.0,NaN,1.4,97.0,1021.2,NaN,2015,12,31,08,3
3784305,144,2015-12-31 09:00:00,0.4,NaN,0.3,97.0,1022.1,NaN,2015,12,31,09,3
3784306,144,2015-12-31 10:00:00,1.5,NaN,0.8,97.0,1023.0,NaN,2015,12,31,10,3
3784307,144,2015-12-31 11:00:00,2.4,NaN,1.2,90.0,1023.3,NaN,2015,12,31,11,3
3784308,144,2015-12-31 12:00:00,3.8,NaN,2.6,70.0,1023.1,NaN,2015,12,31,12,3
3784309,144,2015-12-31 13:00:00,4.7,NaN,2.1,65.0,1022.7,NaN,2015,12,31,13,3
3784310,144,2015-12-31 14:00:00,5.4,NaN,2.2,59.0,1022.3,NaN,2015,12,31,14,3
3784311,144,2015-12-31 15:00:00,5.5,NaN,1.8,57.0,1022.5,NaN,2015,12,31,15,3
3784312,144,2015-12-31 16:00:00,4.9,NaN,1.8,59.0,1022.8,NaN,2015,12,31,16,3
3784313,144,2015-12-31 17:00:00,4.2,NaN,1.1,62.0,1023.3,NaN,2015,12,31,17,3
3784314,144,2015-12-31 18:00:00,2.7,NaN,1.2,68.0,1024.0,NaN,2015,12,31,18,3
3784315,144,2015-12-31 19:00:00,1.2,NaN,1.0,76.0,1024.4,NaN,2015,12,31,19,3
3784316,144,2015-12-31 20:00:00,0.4,NaN,0.8,80.0,1024.7,NaN,2015,12,31,20,3
3784317,144,2015-12-31 21:00:00,0.0,NaN,0.5,83.0,1024.9,NaN,2015,12,31,21,3
3784318,144,2015-12-31 22:00:00,-1.0,NaN,1.1,87.0,1025.3,NaN,2015,12,31,22,3
3784319,144,2015-12-31 23:00:00,-1.4,NaN,0.2,90.0,1025.5,NaN,2015,12,31,23,3

In [11]:
result1

result1.rename(columns={'키오스크번호':'station'})

,station,일시,기온,강수량,풍속,습도,현지기압,적설,year,month,day,hour,season
0,1,2013-01-01 00:00:00,-8.8,NaN,0.1,90.0,1013.3,8.8,2013,01,01,00,3
1,1,2013-01-01 01:00:00,-8.5,NaN,0.9,90.0,1013.2,8.8,2013,01,01,01,3
2,1,2013-01-01 02:00:00,-8.5,NaN,1.0,89.0,1012.6,8.8,2013,01,01,02,3
3,1,2013-01-01 03:00:00,-9.0,NaN,0.7,91.0,1012.5,8.8,2013,01,01,03,3
4,1,2013-01-01 04:00:00,-9.1,NaN,0.6,92.0,1011.4,8.8,2013,01,01,04,3
5,1,2013-01-01 05:00:00,-9.4,NaN,0.5,92.0,1010.4,8.8,2013,01,01,05,3
6,1,2013-01-01 06:00:00,-9.0,NaN,1.4,93.0,1009.7,8.8,2013,01,01,06,3
7,1,2013-01-01 07:00:00,-8.3,NaN,0.2,94.0,1009.1,9.6,2013,01,01,07,3
8,1,2013-01-01 08:00:00,-7.3,NaN,1.7,96.0,1008.9,10.5,2013,01,01,08,3
9,1,2013-01-01 09:00:00,-6.4,2.2,0.9,96.0,1009.4,12.8,2013,01,01,09,3
10,1,2013-01-01 10:00:00,-5.3,NaN,0.4,98.0,1009.8,15.3,2013,01,01,10,3
11,1,2013-01-01 11:00:00,-3.4,NaN,0.9,93.0,1010.1,15.5,2013,01,01,11,3
12,1,2013-01-01 12:00:00,-0.5,1.9,0.7,88.0,1009.5,15.0,2013,01,01,12,3
13,1,2013-01-01 13:00:00,3.1,NaN,2.0,73.0,1008.9,14.0,2013,01,01,13,3
14,1,2013-01-01 14:00:00,2.5,NaN,2.4,69.0,1009.3,12.5,2013,01,01,14,3
15,1,2013-01-01 15:00:00,0.8,0.2,3.8,90.0,1010.0,12.5,2013,01,01,15,3
16,1,2013-01-01 16:00:00,1.1,NaN,2.4,84.0,1010.6,13.8,2013,01,01,16,3
17,1,2013-01-01 17:00:00,0.5,NaN,2.2,83.0,1011.5,14.0,2013,01,01,17,3
18,1,2013-01-01 18:00:00,-1.4,0.5,0.5,90.0,1011.9,14.0,2013,01,01,18,3
19,1,2013-01-01 19:00:00,-1.7,NaN,1.2,94.0,1011.9,14.0,2013,01,01,19,3
20,1,2013-01-01 20:00:00,-2.0,NaN,1.0,95.0,1011.8,14.0,2013,01,01,20,3
21,1,2013-01-01 21:00:00,-2.4,NaN,1.1,98.0,1011.6,14.0,2013,01,01,21,3
22,1,2013-01-01 22:00:00,-3.3,NaN,0.2,97.0,1011.3,14.0,2013,01,01,22,3
23,1,2013-01-01 23:00:00,-3.2,NaN,1.4,98.0,1011.6,14.1,2013,01,01,23,3
24,1,2013-01-02 00:00:00,-1.3,0.8,2.5,100.0,1011.2,15.7,2013,01,02,00,3
25,1,2013-01-02 01:00:00,-0.8,NaN,0.9,100.0,1012.0,18.1,2013,01,02,01,3
26,1,2013-01-02 02:00:00,-1.3,NaN,3.4,89.0,1013.2,18.3,2013,01,02,02,3
27,1,2013-01-02 03:00:00,-3.5,1.8,3.8,80.0,1015.4,18.3,2013,01,02,03,3
28,1,2013-01-02 04:00:00,-5.3,NaN,2.8,79.0,1017.2,18.4,2013,01,02,04,3
29,1,2013-01-02 05:00:00,-6.5,NaN,1.8,83.0,1018.1,18.4,2013,01,02,05,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3784290,144,2015-12-30 18:00:00,4.2,NaN,1.3,67.0,1018.6,NaN,2015,12,30,18,3
3784291,144,2015-12-30 19:00:00,4.3,NaN,1.1,66.0,1018.8,NaN,2015,12,30,19,3
3784292,144,2015-12-30 20:00:00,3.3,NaN,2.5,87.0,1019.4,NaN,2015,12,30,20,3
3784293,144,2015-12-30 21:00:00,2.7,1.0,2.8,92.0,1019.4,NaN,2015,12,30,21,3
3784294,144,2015-12-30 22:00:00,2.0,NaN,2.1,94.0,1019.1,NaN,2015,12,30,22,3
3784295,144,2015-12-30 23:00:00,1.8,NaN,1.4,95.0,1019.3,NaN,2015,12,30,23,3
3784296,144,2015-12-31 00:00:00,1.8,0.6,1.5,94.0,1019.0,NaN,2015,12,31,00,3
3784297,144,2015-12-31 01:00:00,1.7,NaN,0.5,94.0,1018.8,NaN,2015,12,31,01,3
3784298,144,2015-12-31 02:00:00,1.3,NaN,0.6,96.0,1018.9,NaN,2015,12,31,02,3
3784299,144,2015-12-31 03:00:00,1.0,NaN,1.0,96.0,1019.1,NaN,2015,12,31,03,3
3784300,144,2015-12-31 04:00:00,1.0,NaN,0.9,97.0,1019.1,NaN,2015,12,31,04,3
3784301,144,2015-12-31 05:00:00,0.4,NaN,0.5,97.0,1019.5,NaN,2015,12,31,05,3
3784302,144,2015-12-31 06:00:00,0.4,NaN,0.5,97.0,1020.0,NaN,2015,12,31,06,3
3784303,144,2015-12-31 07:00:00,0.0,NaN,1.2,97.0,1020.5,NaN,2015,12,31,07,3
3784304,144,2015-12-31 08:00:00,0.0,NaN,1.4,97.0,1021.2,NaN,2015,12,31,08,3
3784305,144,2015-12-31 09:00:00,0.4,NaN,0.3,97.0,1022.1,NaN,2015,12,31,09,3
3784306,144,2015-12-31 10:00:00,1.5,NaN,0.8,97.0,1023.0,NaN,2015,12,31,10,3
3784307,144,2015-12-31 11:00:00,2.4,NaN,1.2,90.0,1023.3,NaN,2015,12,31,11,3
3784308,144,2015-12-31 12:00:00,3.8,NaN,2.6,70.0,1023.1,NaN,2015,12,31,12,3
3784309,144,2015-12-31 13:00:00,4.7,NaN,2.1,65.0,1022.7,NaN,2015,12,31,13,3
3784310,144,2015-12-31 14:00:00,5.4,NaN,2.2,59.0,1022.3,NaN,2015,12,31,14,3
3784311,144,2015-12-31 15:00:00,5.5,NaN,1.8,57.0,1022.5,NaN,2015,12,31,15,3
3784312,144,2015-12-31 16:00:00,4.9,NaN,1.8,59.0,1022.8,NaN,2015,12,31,16,3
3784313,144,2015-12-31 17:00:00,4.2,NaN,1.1,62.0,1023.3,NaN,2015,12,31,17,3
3784314,144,2015-12-31 18:00:00,2.7,NaN,1.2,68.0,1024.0,NaN,2015,12,31,18,3
3784315,144,2015-12-31 19:00:00,1.2,NaN,1.0,76.0,1024.4,NaN,2015,12,31,19,3
3784316,144,2015-12-31 20:00:00,0.4,NaN,0.8,80.0,1024.7,NaN,2015,12,31,20,3
3784317,144,2015-12-31 21:00:00,0.0,NaN,0.5,83.0,1024.9,NaN,2015,12,31,21,3
3784318,144,2015-12-31 22:00:00,-1.0,NaN,1.1,87.0,1025.3,NaN,2015,12,31,22,3
3784319,144,2015-12-31 23:00:00,-1.4,NaN,0.2,90.0,1025.5,NaN,2015,12,31,23,3

In [12]:
result1

,키오스크번호,일시,기온,강수량,풍속,습도,현지기압,적설,year,month,day,hour,season
0,1,2013-01-01 00:00:00,-8.8,NaN,0.1,90.0,1013.3,8.8,2013,01,01,00,3
1,1,2013-01-01 01:00:00,-8.5,NaN,0.9,90.0,1013.2,8.8,2013,01,01,01,3
2,1,2013-01-01 02:00:00,-8.5,NaN,1.0,89.0,1012.6,8.8,2013,01,01,02,3
3,1,2013-01-01 03:00:00,-9.0,NaN,0.7,91.0,1012.5,8.8,2013,01,01,03,3
4,1,2013-01-01 04:00:00,-9.1,NaN,0.6,92.0,1011.4,8.8,2013,01,01,04,3
5,1,2013-01-01 05:00:00,-9.4,NaN,0.5,92.0,1010.4,8.8,2013,01,01,05,3
6,1,2013-01-01 06:00:00,-9.0,NaN,1.4,93.0,1009.7,8.8,2013,01,01,06,3
7,1,2013-01-01 07:00:00,-8.3,NaN,0.2,94.0,1009.1,9.6,2013,01,01,07,3
8,1,2013-01-01 08:00:00,-7.3,NaN,1.7,96.0,1008.9,10.5,2013,01,01,08,3
9,1,2013-01-01 09:00:00,-6.4,2.2,0.9,96.0,1009.4,12.8,2013,01,01,09,3
10,1,2013-01-01 10:00:00,-5.3,NaN,0.4,98.0,1009.8,15.3,2013,01,01,10,3
11,1,2013-01-01 11:00:00,-3.4,NaN,0.9,93.0,1010.1,15.5,2013,01,01,11,3
12,1,2013-01-01 12:00:00,-0.5,1.9,0.7,88.0,1009.5,15.0,2013,01,01,12,3
13,1,2013-01-01 13:00:00,3.1,NaN,2.0,73.0,1008.9,14.0,2013,01,01,13,3
14,1,2013-01-01 14:00:00,2.5,NaN,2.4,69.0,1009.3,12.5,2013,01,01,14,3
15,1,2013-01-01 15:00:00,0.8,0.2,3.8,90.0,1010.0,12.5,2013,01,01,15,3
16,1,2013-01-01 16:00:00,1.1,NaN,2.4,84.0,1010.6,13.8,2013,01,01,16,3
17,1,2013-01-01 17:00:00,0.5,NaN,2.2,83.0,1011.5,14.0,2013,01,01,17,3
18,1,2013-01-01 18:00:00,-1.4,0.5,0.5,90.0,1011.9,14.0,2013,01,01,18,3
19,1,2013-01-01 19:00:00,-1.7,NaN,1.2,94.0,1011.9,14.0,2013,01,01,19,3
20,1,2013-01-01 20:00:00,-2.0,NaN,1.0,95.0,1011.8,14.0,2013,01,01,20,3
21,1,2013-01-01 21:00:00,-2.4,NaN,1.1,98.0,1011.6,14.0,2013,01,01,21,3
22,1,2013-01-01 22:00:00,-3.3,NaN,0.2,97.0,1011.3,14.0,2013,01,01,22,3
23,1,2013-01-01 23:00:00,-3.2,NaN,1.4,98.0,1011.6,14.1,2013,01,01,23,3
24,1,2013-01-02 00:00:00,-1.3,0.8,2.5,100.0,1011.2,15.7,2013,01,02,00,3
25,1,2013-01-02 01:00:00,-0.8,NaN,0.9,100.0,1012.0,18.1,2013,01,02,01,3
26,1,2013-01-02 02:00:00,-1.3,NaN,3.4,89.0,1013.2,18.3,2013,01,02,02,3
27,1,2013-01-02 03:00:00,-3.5,1.8,3.8,80.0,1015.4,18.3,2013,01,02,03,3
28,1,2013-01-02 04:00:00,-5.3,NaN,2.8,79.0,1017.2,18.4,2013,01,02,04,3
29,1,2013-01-02 05:00:00,-6.5,NaN,1.8,83.0,1018.1,18.4,2013,01,02,05,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3784290,144,2015-12-30 18:00:00,4.2,NaN,1.3,67.0,1018.6,NaN,2015,12,30,18,3
3784291,144,2015-12-30 19:00:00,4.3,NaN,1.1,66.0,1018.8,NaN,2015,12,30,19,3
3784292,144,2015-12-30 20:00:00,3.3,NaN,2.5,87.0,1019.4,NaN,2015,12,30,20,3
3784293,144,2015-12-30 21:00:00,2.7,1.0,2.8,92.0,1019.4,NaN,2015,12,30,21,3
3784294,144,2015-12-30 22:00:00,2.0,NaN,2.1,94.0,1019.1,NaN,2015,12,30,22,3
3784295,144,2015-12-30 23:00:00,1.8,NaN,1.4,95.0,1019.3,NaN,2015,12,30,23,3
3784296,144,2015-12-31 00:00:00,1.8,0.6,1.5,94.0,1019.0,NaN,2015,12,31,00,3
3784297,144,2015-12-31 01:00:00,1.7,NaN,0.5,94.0,1018.8,NaN,2015,12,31,01,3
3784298,144,2015-12-31 02:00:00,1.3,NaN,0.6,96.0,1018.9,NaN,2015,12,31,02,3
3784299,144,2015-12-31 03:00:00,1.0,NaN,1.0,96.0,1019.1,NaN,2015,12,31,03,3
3784300,144,2015-12-31 04:00:00,1.0,NaN,0.9,97.0,1019.1,NaN,2015,12,31,04,3
3784301,144,2015-12-31 05:00:00,0.4,NaN,0.5,97.0,1019.5,NaN,2015,12,31,05,3
3784302,144,2015-12-31 06:00:00,0.4,NaN,0.5,97.0,1020.0,NaN,2015,12,31,06,3
3784303,144,2015-12-31 07:00:00,0.0,NaN,1.2,97.0,1020.5,NaN,2015,12,31,07,3
3784304,144,2015-12-31 08:00:00,0.0,NaN,1.4,97.0,1021.2,NaN,2015,12,31,08,3
3784305,144,2015-12-31 09:00:00,0.4,NaN,0.3,97.0,1022.1,NaN,2015,12,31,09,3
3784306,144,2015-12-31 10:00:00,1.5,NaN,0.8,97.0,1023.0,NaN,2015,12,31,10,3
3784307,144,2015-12-31 11:00:00,2.4,NaN,1.2,90.0,1023.3,NaN,2015,12,31,11,3
3784308,144,2015-12-31 12:00:00,3.8,NaN,2.6,70.0,1023.1,NaN,2015,12,31,12,3
3784309,144,2015-12-31 13:00:00,4.7,NaN,2.1,65.0,1022.7,NaN,2015,12,31,13,3
3784310,144,2015-12-31 14:00:00,5.4,NaN,2.2,59.0,1022.3,NaN,2015,12,31,14,3
3784311,144,2015-12-31 15:00:00,5.5,NaN,1.8,57.0,1022.5,NaN,2015,12,31,15,3
3784312,144,2015-12-31 16:00:00,4.9,NaN,1.8,59.0,1022.8,NaN,2015,12,31,16,3
3784313,144,2015-12-31 17:00:00,4.2,NaN,1.1,62.0,1023.3,NaN,2015,12,31,17,3
3784314,144,2015-12-31 18:00:00,2.7,NaN,1.2,68.0,1024.0,NaN,2015,12,31,18,3
3784315,144,2015-12-31 19:00:00,1.2,NaN,1.0,76.0,1024.4,NaN,2015,12,31,19,3
3784316,144,2015-12-31 20:00:00,0.4,NaN,0.8,80.0,1024.7,NaN,2015,12,31,20,3
3784317,144,2015-12-31 21:00:00,0.0,NaN,0.5,83.0,1024.9,NaN,2015,12,31,21,3
3784318,144,2015-12-31 22:00:00,-1.0,NaN,1.1,87.0,1025.3,NaN,2015,12,31,22,3
3784319,144,2015-12-31 23:00:00,-1.4,NaN,0.2,90.0,1025.5,NaN,2015,12,31,23,3

In [13]:
temp = pd.to_datetime(result1['일시'].astype(str).str[0:],format='%Y-%m-%d %H:%M')
result1['weekday'] = temp.dt.dayofweek
days = {0:'0',1:'1',2:'2',3:'3',4:'4',5:'5',6:'6'}

result1['weekday'] = result1['weekday'].apply(lambda x: days[x])

In [14]:
result1

,키오스크번호,일시,기온,강수량,풍속,습도,현지기압,적설,year,month,day,hour,season,weekday
0,1,2013-01-01 00:00:00,-8.8,NaN,0.1,90.0,1013.3,8.8,2013,01,01,00,3,1
1,1,2013-01-01 01:00:00,-8.5,NaN,0.9,90.0,1013.2,8.8,2013,01,01,01,3,1
2,1,2013-01-01 02:00:00,-8.5,NaN,1.0,89.0,1012.6,8.8,2013,01,01,02,3,1
3,1,2013-01-01 03:00:00,-9.0,NaN,0.7,91.0,1012.5,8.8,2013,01,01,03,3,1
4,1,2013-01-01 04:00:00,-9.1,NaN,0.6,92.0,1011.4,8.8,2013,01,01,04,3,1
5,1,2013-01-01 05:00:00,-9.4,NaN,0.5,92.0,1010.4,8.8,2013,01,01,05,3,1
6,1,2013-01-01 06:00:00,-9.0,NaN,1.4,93.0,1009.7,8.8,2013,01,01,06,3,1
7,1,2013-01-01 07:00:00,-8.3,NaN,0.2,94.0,1009.1,9.6,2013,01,01,07,3,1
8,1,2013-01-01 08:00:00,-7.3,NaN,1.7,96.0,1008.9,10.5,2013,01,01,08,3,1
9,1,2013-01-01 09:00:00,-6.4,2.2,0.9,96.0,1009.4,12.8,2013,01,01,09,3,1
10,1,2013-01-01 10:00:00,-5.3,NaN,0.4,98.0,1009.8,15.3,2013,01,01,10,3,1
11,1,2013-01-01 11:00:00,-3.4,NaN,0.9,93.0,1010.1,15.5,2013,01,01,11,3,1
12,1,2013-01-01 12:00:00,-0.5,1.9,0.7,88.0,1009.5,15.0,2013,01,01,12,3,1
13,1,2013-01-01 13:00:00,3.1,NaN,2.0,73.0,1008.9,14.0,2013,01,01,13,3,1
14,1,2013-01-01 14:00:00,2.5,NaN,2.4,69.0,1009.3,12.5,2013,01,01,14,3,1
15,1,2013-01-01 15:00:00,0.8,0.2,3.8,90.0,1010.0,12.5,2013,01,01,15,3,1
16,1,2013-01-01 16:00:00,1.1,NaN,2.4,84.0,1010.6,13.8,2013,01,01,16,3,1
17,1,2013-01-01 17:00:00,0.5,NaN,2.2,83.0,1011.5,14.0,2013,01,01,17,3,1
18,1,2013-01-01 18:00:00,-1.4,0.5,0.5,90.0,1011.9,14.0,2013,01,01,18,3,1
19,1,2013-01-01 19:00:00,-1.7,NaN,1.2,94.0,1011.9,14.0,2013,01,01,19,3,1
20,1,2013-01-01 20:00:00,-2.0,NaN,1.0,95.0,1011.8,14.0,2013,01,01,20,3,1
21,1,2013-01-01 21:00:00,-2.4,NaN,1.1,98.0,1011.6,14.0,2013,01,01,21,3,1
22,1,2013-01-01 22:00:00,-3.3,NaN,0.2,97.0,1011.3,14.0,2013,01,01,22,3,1
23,1,2013-01-01 23:00:00,-3.2,NaN,1.4,98.0,1011.6,14.1,2013,01,01,23,3,1
24,1,2013-01-02 00:00:00,-1.3,0.8,2.5,100.0,1011.2,15.7,2013,01,02,00,3,2
25,1,2013-01-02 01:00:00,-0.8,NaN,0.9,100.0,1012.0,18.1,2013,01,02,01,3,2
26,1,2013-01-02 02:00:00,-1.3,NaN,3.4,89.0,1013.2,18.3,2013,01,02,02,3,2
27,1,2013-01-02 03:00:00,-3.5,1.8,3.8,80.0,1015.4,18.3,2013,01,02,03,3,2
28,1,2013-01-02 04:00:00,-5.3,NaN,2.8,79.0,1017.2,18.4,2013,01,02,04,3,2
29,1,2013-01-02 05:00:00,-6.5,NaN,1.8,83.0,1018.1,18.4,2013,01,02,05,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3784290,144,2015-12-30 18:00:00,4.2,NaN,1.3,67.0,1018.6,NaN,2015,12,30,18,3,2
3784291,144,2015-12-30 19:00:00,4.3,NaN,1.1,66.0,1018.8,NaN,2015,12,30,19,3,2
3784292,144,2015-12-30 20:00:00,3.3,NaN,2.5,87.0,1019.4,NaN,2015,12,30,20,3,2
3784293,144,2015-12-30 21:00:00,2.7,1.0,2.8,92.0,1019.4,NaN,2015,12,30,21,3,2
3784294,144,2015-12-30 22:00:00,2.0,NaN,2.1,94.0,1019.1,NaN,2015,12,30,22,3,2
3784295,144,2015-12-30 23:00:00,1.8,NaN,1.4,95.0,1019.3,NaN,2015,12,30,23,3,2
3784296,144,2015-12-31 00:00:00,1.8,0.6,1.5,94.0,1019.0,NaN,2015,12,31,00,3,3
3784297,144,2015-12-31 01:00:00,1.7,NaN,0.5,94.0,1018.8,NaN,2015,12,31,01,3,3
3784298,144,2015-12-31 02:00:00,1.3,NaN,0.6,96.0,1018.9,NaN,2015,12,31,02,3,3
3784299,144,2015-12-31 03:00:00,1.0,NaN,1.0,96.0,1019.1,NaN,2015,12,31,03,3,3
3784300,144,2015-12-31 04:00:00,1.0,NaN,0.9,97.0,1019.1,NaN,2015,12,31,04,3,3
3784301,144,2015-12-31 05:00:00,0.4,NaN,0.5,97.0,1019.5,NaN,2015,12,31,05,3,3
3784302,144,2015-12-31 06:00:00,0.4,NaN,0.5,97.0,1020.0,NaN,2015,12,31,06,3,3
3784303,144,2015-12-31 07:00:00,0.0,NaN,1.2,97.0,1020.5,NaN,2015,12,31,07,3,3
3784304,144,2015-12-31 08:00:00,0.0,NaN,1.4,97.0,1021.2,NaN,2015,12,31,08,3,3
3784305,144,2015-12-31 09:00:00,0.4,NaN,0.3,97.0,1022.1,NaN,2015,12,31,09,3,3
3784306,144,2015-12-31 10:00:00,1.5,NaN,0.8,97.0,1023.0,NaN,2015,12,31,10,3,3
3784307,144,2015-12-31 11:00:00,2.4,NaN,1.2,90.0,1023.3,NaN,2015,12,31,11,3,3
3784308,144,2015-12-31 12:00:00,3.8,NaN,2.6,70.0,1023.1,NaN,2015,12,31,12,3,3
3784309,144,2015-12-31 13:00:00,4.7,NaN,2.1,65.0,1022.7,NaN,2015,12,31,13,3,3
3784310,144,2015-12-31 14:00:00,5.4,NaN,2.2,59.0,1022.3,NaN,2015,12,31,14,3,3
3784311,144,2015-12-31 15:00:00,5.5,NaN,1.8,57.0,1022.5,NaN,2015,12,31,15,3,3
3784312,144,2015-12-31 16:00:00,4.9,NaN,1.8,59.0,1022.8,NaN,2015,12,31,16,3,3
3784313,144,2015-12-31 17:00:00,4.2,NaN,1.1,62.0,1023.3,NaN,2015,12,31,17,3,3
3784314,144,2015-12-31 18:00:00,2.7,NaN,1.2,68.0,1024.0,NaN,2015,12,31,18,3,3
3784315,144,2015-12-31 19:00:00,1.2,NaN,1.0,76.0,1024.4,NaN,2015,12,31,19,3,3
3784316,144,2015-12-31 20:00:00,0.4,NaN,0.8,80.0,1024.7,NaN,2015,12,31,20,3,3
3784317,144,2015-12-31 21:00:00,0.0,NaN,0.5,83.0,1024.9,NaN,2015,12,31,21,3,3
3784318,144,2015-12-31 22:00:00,-1.0,NaN,1.1,87.0,1025.3,NaN,2015,12,31,22,3,3
3784319,144,2015-12-31 23:00:00,-1.4,NaN,0.2,90.0,1025.5,NaN,2015,12,31,23,3,3

In [15]:
tashu['RETURNCOUNT'] = 0

tashu_rent_count = tashu.groupby(['RETURN_STATION', 'RETURN_DATE'], as_index=False)['RETURNCOUNT'].count()
tashu_rent_count = tashu_rent_count.rename(columns={'RETURN_STATION':'키오스크번호'})

tashu_rent_count

         키오스크번호         RETURN_DATE  RETURNCOUNT
0           1.0 2013-01-01 13:00:00            1
1           1.0 2013-01-02 07:00:00            1
2           1.0 2013-01-02 17:00:00            1
3           1.0 2013-01-02 23:00:00            2
4           1.0 2013-01-03 08:00:00            1
5           1.0 2013-01-03 13:00:00            1
6           1.0 2013-01-04 23:00:00            1
7           1.0 2013-01-05 08:00:00            1
8           1.0 2013-01-05 14:00:00            1
9           1.0 2013-01-05 15:00:00            1
10          1.0 2013-01-06 15:00:00            3
11          1.0 2013-01-06 20:00:00            2
12          1.0 2013-01-07 09:00:00            1
13          1.0 2013-01-08 08:00:00            1
14          1.0 2013-01-08 14:00:00            2
15          1.0 2013-01-08 15:00:00            5
16          1.0 2013-01-08 19:00:00            3
17          1.0 2013-01-09 06:00:00            1
18          1.0 2013-01-09 15:00:00            1
19          1.0 2013-01-09 18:00:00            3
20          1.0 2013-01-10 10:00:00            2
21          1.0 2013-01-10 14:00:00            1
22          1.0 2013-01-11 18:00:00            1
23          1.0 2013-01-12 06:00:00            1
24          1.0 2013-01-12 12:00:00            2
25          1.0 2013-01-13 12:00:00            1
26          1.0 2013-01-13 15:00:00            2
27          1.0 2013-01-13 17:00:00            1
28          1.0 2013-01-14 08:00:00            1
29          1.0 2013-01-14 12:00:00            3
...         ...                 ...          ...
1199575   201.0 2013-12-09 11:00:00            5
1199576   201.0 2013-12-09 12:00:00            4
1199577   201.0 2013-12-09 13:00:00            4
1199578   201.0 2013-12-09 14:00:00            2
1199579   201.0 2013-12-09 15:00:00            2
1199580   201.0 2013-12-23 10:00:00            2
1199581   201.0 2013-12-23 11:00:00            3
1199582   201.0 2013-12-23 12:00:00            3
1199583   201.0 2013-12-23 13:00:00            2
1199584   201.0 2013-12-23 14:00:00            2
1199585   201.0 2013-12-23 15:00:00            2
1199586   201.0 2013-12-24 10:00:00            2
1199587   201.0 2013-12-24 11:00:00            3
1199588   201.0 2013-12-24 12:00:00            2
1199589   201.0 2015-12-15 16:00:00           13
1199590   201.0 2015-12-23 17:00:00            2
1199591   202.0 2015-12-18 10:00:00            1
1199592   202.0 2015-12-23 16:00:00            2
1199593   205.0 2016-11-17 08:00:00            1
1199594   207.0 2016-11-17 07:00:00            1
1199595   210.0 2016-11-17 11:00:00            1
1199596   211.0 2016-11-17 07:00:00            1
1199597   213.0 2016-11-15 13:00:00            1
1199598   214.0 2016-11-15 13:00:00            2
1199599   216.0 2016-11-15 14:00:00            1
1199600   218.0 2016-11-17 07:00:00            1
1199601   219.0 2016-11-17 07:00:00            1
1199602   222.0 2017-03-06 16:00:00            1
1199603   224.0 2016-11-15 15:00:00            1
1199604   226.0 2016-11-15 14:00:00            1

[1199605 rows x 3 columns]

In [16]:
result2 = tashu_rent_count[tashu_rent_count['키오스크번호'] < 145]

result2

         키오스크번호         RETURN_DATE  RETURNCOUNT
0           1.0 2013-01-01 13:00:00            1
1           1.0 2013-01-02 07:00:00            1
2           1.0 2013-01-02 17:00:00            1
3           1.0 2013-01-02 23:00:00            2
4           1.0 2013-01-03 08:00:00            1
5           1.0 2013-01-03 13:00:00            1
6           1.0 2013-01-04 23:00:00            1
7           1.0 2013-01-05 08:00:00            1
8           1.0 2013-01-05 14:00:00            1
9           1.0 2013-01-05 15:00:00            1
10          1.0 2013-01-06 15:00:00            3
11          1.0 2013-01-06 20:00:00            2
12          1.0 2013-01-07 09:00:00            1
13          1.0 2013-01-08 08:00:00            1
14          1.0 2013-01-08 14:00:00            2
15          1.0 2013-01-08 15:00:00            5
16          1.0 2013-01-08 19:00:00            3
17          1.0 2013-01-09 06:00:00            1
18          1.0 2013-01-09 15:00:00            1
19          1.0 2013-01-09 18:00:00            3
20          1.0 2013-01-10 10:00:00            2
21          1.0 2013-01-10 14:00:00            1
22          1.0 2013-01-11 18:00:00            1
23          1.0 2013-01-12 06:00:00            1
24          1.0 2013-01-12 12:00:00            2
25          1.0 2013-01-13 12:00:00            1
26          1.0 2013-01-13 15:00:00            2
27          1.0 2013-01-13 17:00:00            1
28          1.0 2013-01-14 08:00:00            1
29          1.0 2013-01-14 12:00:00            3
...         ...                 ...          ...
1156526   144.0 2015-12-24 17:00:00            1
1156527   144.0 2015-12-25 06:00:00            1
1156528   144.0 2015-12-25 14:00:00            1
1156529   144.0 2015-12-25 15:00:00            1
1156530   144.0 2015-12-25 16:00:00            1
1156531   144.0 2015-12-25 17:00:00            2
1156532   144.0 2015-12-25 18:00:00            1
1156533   144.0 2015-12-26 06:00:00            2
1156534   144.0 2015-12-26 16:00:00           14
1156535   144.0 2015-12-26 17:00:00            1
1156536   144.0 2015-12-26 18:00:00            1
1156537   144.0 2015-12-27 06:00:00            2
1156538   144.0 2015-12-27 13:00:00            1
1156539   144.0 2015-12-27 14:00:00            1
1156540   144.0 2015-12-27 15:00:00            2
1156541   144.0 2015-12-28 06:00:00            2
1156542   144.0 2015-12-29 11:00:00           10
1156543   144.0 2015-12-29 14:00:00            2
1156544   144.0 2015-12-29 15:00:00            3
1156545   144.0 2015-12-29 16:00:00            2
1156546   144.0 2015-12-29 17:00:00            2
1156547   144.0 2015-12-30 00:00:00            1
1156548   144.0 2015-12-30 06:00:00            2
1156549   144.0 2015-12-30 21:00:00            1
1156550   144.0 2015-12-31 07:00:00            3
1156551   144.0 2015-12-31 15:00:00            6
1156552   144.0 2015-12-31 16:00:00            9
1156553   144.0 2015-12-31 17:00:00            5
1156554   144.0 2016-01-09 00:00:00            1
1156555   144.0 2016-02-02 10:00:00            1

[1156556 rows x 3 columns]

In [17]:
#result2['RETURN_DATE'] = result2['RETURN_DATE'].astype('int64')
result2 = result2.rename(columns={'RETURN_DATE':'일시'})
result2

#result3 = result1.merge(result2, how='outer')

#del result3['일시']
#del result3['현지기압']

#result3 = result3.rename(columns={'키오스크번호':'STATION'})
#result3 = result3.fillna(0)

#result3

         키오스크번호                  일시  RETURNCOUNT
0           1.0 2013-01-01 13:00:00            1
1           1.0 2013-01-02 07:00:00            1
2           1.0 2013-01-02 17:00:00            1
3           1.0 2013-01-02 23:00:00            2
4           1.0 2013-01-03 08:00:00            1
5           1.0 2013-01-03 13:00:00            1
6           1.0 2013-01-04 23:00:00            1
7           1.0 2013-01-05 08:00:00            1
8           1.0 2013-01-05 14:00:00            1
9           1.0 2013-01-05 15:00:00            1
10          1.0 2013-01-06 15:00:00            3
11          1.0 2013-01-06 20:00:00            2
12          1.0 2013-01-07 09:00:00            1
13          1.0 2013-01-08 08:00:00            1
14          1.0 2013-01-08 14:00:00            2
15          1.0 2013-01-08 15:00:00            5
16          1.0 2013-01-08 19:00:00            3
17          1.0 2013-01-09 06:00:00            1
18          1.0 2013-01-09 15:00:00            1
19          1.0 2013-01-09 18:00:00            3
20          1.0 2013-01-10 10:00:00            2
21          1.0 2013-01-10 14:00:00            1
22          1.0 2013-01-11 18:00:00            1
23          1.0 2013-01-12 06:00:00            1
24          1.0 2013-01-12 12:00:00            2
25          1.0 2013-01-13 12:00:00            1
26          1.0 2013-01-13 15:00:00            2
27          1.0 2013-01-13 17:00:00            1
28          1.0 2013-01-14 08:00:00            1
29          1.0 2013-01-14 12:00:00            3
...         ...                 ...          ...
1156526   144.0 2015-12-24 17:00:00            1
1156527   144.0 2015-12-25 06:00:00            1
1156528   144.0 2015-12-25 14:00:00            1
1156529   144.0 2015-12-25 15:00:00            1
1156530   144.0 2015-12-25 16:00:00            1
1156531   144.0 2015-12-25 17:00:00            2
1156532   144.0 2015-12-25 18:00:00            1
1156533   144.0 2015-12-26 06:00:00            2
1156534   144.0 2015-12-26 16:00:00           14
1156535   144.0 2015-12-26 17:00:00            1
1156536   144.0 2015-12-26 18:00:00            1
1156537   144.0 2015-12-27 06:00:00            2
1156538   144.0 2015-12-27 13:00:00            1
1156539   144.0 2015-12-27 14:00:00            1
1156540   144.0 2015-12-27 15:00:00            2
1156541   144.0 2015-12-28 06:00:00            2
1156542   144.0 2015-12-29 11:00:00           10
1156543   144.0 2015-12-29 14:00:00            2
1156544   144.0 2015-12-29 15:00:00            3
1156545   144.0 2015-12-29 16:00:00            2
1156546   144.0 2015-12-29 17:00:00            2
1156547   144.0 2015-12-30 00:00:00            1
1156548   144.0 2015-12-30 06:00:00            2
1156549   144.0 2015-12-30 21:00:00            1
1156550   144.0 2015-12-31 07:00:00            3
1156551   144.0 2015-12-31 15:00:00            6
1156552   144.0 2015-12-31 16:00:00            9
1156553   144.0 2015-12-31 17:00:00            5
1156554   144.0 2016-01-09 00:00:00            1
1156555   144.0 2016-02-02 10:00:00            1

[1156556 rows x 3 columns]

In [24]:
result3 = result1.merge(result2, how='outer')
result3 = result3[0:3784320]
#del result3['일시']
#del result3['현지기압']
result3
#result3 = result3.rename(columns={'키오스크번호':'STATION'})
#result3 = result3.fillna(0)

#result3

,키오스크번호,일시,기온,강수량,풍속,습도,현지기압,적설,year,month,day,hour,season,weekday,RETURNCOUNT
0,1,2013-01-01 00:00:00,-8.8,NaN,0.1,90.0,1013.3,8.8,2013,01,01,00,3.0,1,NaN
1,1,2013-01-01 01:00:00,-8.5,NaN,0.9,90.0,1013.2,8.8,2013,01,01,01,3.0,1,NaN
2,1,2013-01-01 02:00:00,-8.5,NaN,1.0,89.0,1012.6,8.8,2013,01,01,02,3.0,1,NaN
3,1,2013-01-01 03:00:00,-9.0,NaN,0.7,91.0,1012.5,8.8,2013,01,01,03,3.0,1,NaN
4,1,2013-01-01 04:00:00,-9.1,NaN,0.6,92.0,1011.4,8.8,2013,01,01,04,3.0,1,NaN
5,1,2013-01-01 05:00:00,-9.4,NaN,0.5,92.0,1010.4,8.8,2013,01,01,05,3.0,1,NaN
6,1,2013-01-01 06:00:00,-9.0,NaN,1.4,93.0,1009.7,8.8,2013,01,01,06,3.0,1,NaN
7,1,2013-01-01 07:00:00,-8.3,NaN,0.2,94.0,1009.1,9.6,2013,01,01,07,3.0,1,NaN
8,1,2013-01-01 08:00:00,-7.3,NaN,1.7,96.0,1008.9,10.5,2013,01,01,08,3.0,1,NaN
9,1,2013-01-01 09:00:00,-6.4,2.2,0.9,96.0,1009.4,12.8,2013,01,01,09,3.0,1,NaN
10,1,2013-01-01 10:00:00,-5.3,NaN,0.4,98.0,1009.8,15.3,2013,01,01,10,3.0,1,NaN
11,1,2013-01-01 11:00:00,-3.4,NaN,0.9,93.0,1010.1,15.5,2013,01,01,11,3.0,1,NaN
12,1,2013-01-01 12:00:00,-0.5,1.9,0.7,88.0,1009.5,15.0,2013,01,01,12,3.0,1,NaN
13,1,2013-01-01 13:00:00,3.1,NaN,2.0,73.0,1008.9,14.0,2013,01,01,13,3.0,1,1.0
14,1,2013-01-01 14:00:00,2.5,NaN,2.4,69.0,1009.3,12.5,2013,01,01,14,3.0,1,NaN
15,1,2013-01-01 15:00:00,0.8,0.2,3.8,90.0,1010.0,12.5,2013,01,01,15,3.0,1,NaN
16,1,2013-01-01 16:00:00,1.1,NaN,2.4,84.0,1010.6,13.8,2013,01,01,16,3.0,1,NaN
17,1,2013-01-01 17:00:00,0.5,NaN,2.2,83.0,1011.5,14.0,2013,01,01,17,3.0,1,NaN
18,1,2013-01-01 18:00:00,-1.4,0.5,0.5,90.0,1011.9,14.0,2013,01,01,18,3.0,1,NaN
19,1,2013-01-01 19:00:00,-1.7,NaN,1.2,94.0,1011.9,14.0,2013,01,01,19,3.0,1,NaN
20,1,2013-01-01 20:00:00,-2.0,NaN,1.0,95.0,1011.8,14.0,2013,01,01,20,3.0,1,NaN
21,1,2013-01-01 21:00:00,-2.4,NaN,1.1,98.0,1011.6,14.0,2013,01,01,21,3.0,1,NaN
22,1,2013-01-01 22:00:00,-3.3,NaN,0.2,97.0,1011.3,14.0,2013,01,01,22,3.0,1,NaN
23,1,2013-01-01 23:00:00,-3.2,NaN,1.4,98.0,1011.6,14.1,2013,01,01,23,3.0,1,NaN
24,1,2013-01-02 00:00:00,-1.3,0.8,2.5,100.0,1011.2,15.7,2013,01,02,00,3.0,2,NaN
25,1,2013-01-02 01:00:00,-0.8,NaN,0.9,100.0,1012.0,18.1,2013,01,02,01,3.0,2,NaN
26,1,2013-01-02 02:00:00,-1.3,NaN,3.4,89.0,1013.2,18.3,2013,01,02,02,3.0,2,NaN
27,1,2013-01-02 03:00:00,-3.5,1.8,3.8,80.0,1015.4,18.3,2013,01,02,03,3.0,2,NaN
28,1,2013-01-02 04:00:00,-5.3,NaN,2.8,79.0,1017.2,18.4,2013,01,02,04,3.0,2,NaN
29,1,2013-01-02 05:00:00,-6.5,NaN,1.8,83.0,1018.1,18.4,2013,01,02,05,3.0,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3784290,144,2015-12-30 18:00:00,4.2,NaN,1.3,67.0,1018.6,NaN,2015,12,30,18,3.0,2,NaN
3784291,144,2015-12-30 19:00:00,4.3,NaN,1.1,66.0,1018.8,NaN,2015,12,30,19,3.0,2,NaN
3784292,144,2015-12-30 20:00:00,3.3,NaN,2.5,87.0,1019.4,NaN,2015,12,30,20,3.0,2,NaN
3784293,144,2015-12-30 21:00:00,2.7,1.0,2.8,92.0,1019.4,NaN,2015,12,30,21,3.0,2,1.0
3784294,144,2015-12-30 22:00:00,2.0,NaN,2.1,94.0,1019.1,NaN,2015,12,30,22,3.0,2,NaN
3784295,144,2015-12-30 23:00:00,1.8,NaN,1.4,95.0,1019.3,NaN,2015,12,30,23,3.0,2,NaN
3784296,144,2015-12-31 00:00:00,1.8,0.6,1.5,94.0,1019.0,NaN,2015,12,31,00,3.0,3,NaN
3784297,144,2015-12-31 01:00:00,1.7,NaN,0.5,94.0,1018.8,NaN,2015,12,31,01,3.0,3,NaN
3784298,144,2015-12-31 02:00:00,1.3,NaN,0.6,96.0,1018.9,NaN,2015,12,31,02,3.0,3,NaN
3784299,144,2015-12-31 03:00:00,1.0,NaN,1.0,96.0,1019.1,NaN,2015,12,31,03,3.0,3,NaN
3784300,144,2015-12-31 04:00:00,1.0,NaN,0.9,97.0,1019.1,NaN,2015,12,31,04,3.0,3,NaN
3784301,144,2015-12-31 05:00:00,0.4,NaN,0.5,97.0,1019.5,NaN,2015,12,31,05,3.0,3,NaN
3784302,144,2015-12-31 06:00:00,0.4,NaN,0.5,97.0,1020.0,NaN,2015,12,31,06,3.0,3,NaN
3784303,144,2015-12-31 07:00:00,0.0,NaN,1.2,97.0,1020.5,NaN,2015,12,31,07,3.0,3,3.0
3784304,144,2015-12-31 08:00:00,0.0,NaN,1.4,97.0,1021.2,NaN,2015,12,31,08,3.0,3,NaN
3784305,144,2015-12-31 09:00:00,0.4,NaN,0.3,97.0,1022.1,NaN,2015,12,31,09,3.0,3,NaN
3784306,144,2015-12-31 10:00:00,1.5,NaN,0.8,97.0,1023.0,NaN,2015,12,31,10,3.0,3,NaN
3784307,144,2015-12-31 11:00:00,2.4,NaN,1.2,90.0,1023.3,NaN,2015,12,31,11,3.0,3,NaN
3784308,144,2015-12-31 12:00:00,3.8,NaN,2.6,70.0,1023.1,NaN,2015,12,31,12,3.0,3,NaN
3784309,144,2015-12-31 13:00:00,4.7,NaN,2.1,65.0,1022.7,NaN,2015,12,31,13,3.0,3,NaN
3784310,144,2015-12-31 14:00:00,5.4,NaN,2.2,59.0,1022.3,NaN,2015,12,31,14,3.0,3,NaN
3784311,144,2015-12-31 15:00:00,5.5,NaN,1.8,57.0,1022.5,NaN,2015,12,31,15,3.0,3,6.0
3784312,144,2015-12-31 16:00:00,4.9,NaN,1.8,59.0,1022.8,NaN,2015,12,31,16,3.0,3,9.0
3784313,144,2015-12-31 17:00:00,4.2,NaN,1.1,62.0,1023.3,NaN,2015,12,31,17,3.0,3,5.0
3784314,144,2015-12-31 18:00:00,2.7,NaN,1.2,68.0,1024.0,NaN,2015,12,31,18,3.0,3,NaN
3784315,144,2015-12-31 19:00:00,1.2,NaN,1.0,76.0,1024.4,NaN,2015,12,31,19,3.0,3,NaN
3784316,144,2015-12-31 20:00:00,0.4,NaN,0.8,80.0,1024.7,NaN,2015,12,31,20,3.0,3,NaN
3784317,144,2015-12-31 21:00:00,0.0,NaN,0.5,83.0,1024.9,NaN,2015,12,31,21,3.0,3,NaN
3784318,144,2015-12-31 22:00:00,-1.0,NaN,1.1,87.0,1025.3,NaN,2015,12,31,22,3.0,3,NaN
3784319,144,2015-12-31 23:00:00,-1.4,NaN,0.2,90.0,1025.5,NaN,2015,12,31,23,3.0,3,NaN

In [25]:
del result3['일시']
del result3['현지기압']

result3 = result3.rename(columns={'키오스크번호':'STATION'})
result3 = result3.fillna(0)

result3

,STATION,기온,강수량,풍속,습도,적설,year,month,day,hour,season,weekday,RETURNCOUNT
0,1,-8.8,0.0,0.1,90.0,8.8,2013,01,01,00,3.0,1,0.0
1,1,-8.5,0.0,0.9,90.0,8.8,2013,01,01,01,3.0,1,0.0
2,1,-8.5,0.0,1.0,89.0,8.8,2013,01,01,02,3.0,1,0.0
3,1,-9.0,0.0,0.7,91.0,8.8,2013,01,01,03,3.0,1,0.0
4,1,-9.1,0.0,0.6,92.0,8.8,2013,01,01,04,3.0,1,0.0
5,1,-9.4,0.0,0.5,92.0,8.8,2013,01,01,05,3.0,1,0.0
6,1,-9.0,0.0,1.4,93.0,8.8,2013,01,01,06,3.0,1,0.0
7,1,-8.3,0.0,0.2,94.0,9.6,2013,01,01,07,3.0,1,0.0
8,1,-7.3,0.0,1.7,96.0,10.5,2013,01,01,08,3.0,1,0.0
9,1,-6.4,2.2,0.9,96.0,12.8,2013,01,01,09,3.0,1,0.0
10,1,-5.3,0.0,0.4,98.0,15.3,2013,01,01,10,3.0,1,0.0
11,1,-3.4,0.0,0.9,93.0,15.5,2013,01,01,11,3.0,1,0.0
12,1,-0.5,1.9,0.7,88.0,15.0,2013,01,01,12,3.0,1,0.0
13,1,3.1,0.0,2.0,73.0,14.0,2013,01,01,13,3.0,1,1.0
14,1,2.5,0.0,2.4,69.0,12.5,2013,01,01,14,3.0,1,0.0
15,1,0.8,0.2,3.8,90.0,12.5,2013,01,01,15,3.0,1,0.0
16,1,1.1,0.0,2.4,84.0,13.8,2013,01,01,16,3.0,1,0.0
17,1,0.5,0.0,2.2,83.0,14.0,2013,01,01,17,3.0,1,0.0
18,1,-1.4,0.5,0.5,90.0,14.0,2013,01,01,18,3.0,1,0.0
19,1,-1.7,0.0,1.2,94.0,14.0,2013,01,01,19,3.0,1,0.0
20,1,-2.0,0.0,1.0,95.0,14.0,2013,01,01,20,3.0,1,0.0
21,1,-2.4,0.0,1.1,98.0,14.0,2013,01,01,21,3.0,1,0.0
22,1,-3.3,0.0,0.2,97.0,14.0,2013,01,01,22,3.0,1,0.0
23,1,-3.2,0.0,1.4,98.0,14.1,2013,01,01,23,3.0,1,0.0
24,1,-1.3,0.8,2.5,100.0,15.7,2013,01,02,00,3.0,2,0.0
25,1,-0.8,0.0,0.9,100.0,18.1,2013,01,02,01,3.0,2,0.0
26,1,-1.3,0.0,3.4,89.0,18.3,2013,01,02,02,3.0,2,0.0
27,1,-3.5,1.8,3.8,80.0,18.3,2013,01,02,03,3.0,2,0.0
28,1,-5.3,0.0,2.8,79.0,18.4,2013,01,02,04,3.0,2,0.0
29,1,-6.5,0.0,1.8,83.0,18.4,2013,01,02,05,3.0,2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3784290,144,4.2,0.0,1.3,67.0,0.0,2015,12,30,18,3.0,2,0.0
3784291,144,4.3,0.0,1.1,66.0,0.0,2015,12,30,19,3.0,2,0.0
3784292,144,3.3,0.0,2.5,87.0,0.0,2015,12,30,20,3.0,2,0.0
3784293,144,2.7,1.0,2.8,92.0,0.0,2015,12,30,21,3.0,2,1.0
3784294,144,2.0,0.0,2.1,94.0,0.0,2015,12,30,22,3.0,2,0.0
3784295,144,1.8,0.0,1.4,95.0,0.0,2015,12,30,23,3.0,2,0.0
3784296,144,1.8,0.6,1.5,94.0,0.0,2015,12,31,00,3.0,3,0.0
3784297,144,1.7,0.0,0.5,94.0,0.0,2015,12,31,01,3.0,3,0.0
3784298,144,1.3,0.0,0.6,96.0,0.0,2015,12,31,02,3.0,3,0.0
3784299,144,1.0,0.0,1.0,96.0,0.0,2015,12,31,03,3.0,3,0.0
3784300,144,1.0,0.0,0.9,97.0,0.0,2015,12,31,04,3.0,3,0.0
3784301,144,0.4,0.0,0.5,97.0,0.0,2015,12,31,05,3.0,3,0.0
3784302,144,0.4,0.0,0.5,97.0,0.0,2015,12,31,06,3.0,3,0.0
3784303,144,0.0,0.0,1.2,97.0,0.0,2015,12,31,07,3.0,3,3.0
3784304,144,0.0,0.0,1.4,97.0,0.0,2015,12,31,08,3.0,3,0.0
3784305,144,0.4,0.0,0.3,97.0,0.0,2015,12,31,09,3.0,3,0.0
3784306,144,1.5,0.0,0.8,97.0,0.0,2015,12,31,10,3.0,3,0.0
3784307,144,2.4,0.0,1.2,90.0,0.0,2015,12,31,11,3.0,3,0.0
3784308,144,3.8,0.0,2.6,70.0,0.0,2015,12,31,12,3.0,3,0.0
3784309,144,4.7,0.0,2.1,65.0,0.0,2015,12,31,13,3.0,3,0.0
3784310,144,5.4,0.0,2.2,59.0,0.0,2015,12,31,14,3.0,3,0.0
3784311,144,5.5,0.0,1.8,57.0,0.0,2015,12,31,15,3.0,3,6.0
3784312,144,4.9,0.0,1.8,59.0,0.0,2015,12,31,16,3.0,3,9.0
3784313,144,4.2,0.0,1.1,62.0,0.0,2015,12,31,17,3.0,3,5.0
3784314,144,2.7,0.0,1.2,68.0,0.0,2015,12,31,18,3.0,3,0.0
3784315,144,1.2,0.0,1.0,76.0,0.0,2015,12,31,19,3.0,3,0.0
3784316,144,0.4,0.0,0.8,80.0,0.0,2015,12,31,20,3.0,3,0.0
3784317,144,0.0,0.0,0.5,83.0,0.0,2015,12,31,21,3.0,3,0.0
3784318,144,-1.0,0.0,1.1,87.0,0.0,2015,12,31,22,3.0,3,0.0
3784319,144,-1.4,0.0,0.2,90.0,0.0,2015,12,31,23,3.0,3,0.0

In [26]:
result3.to_csv("./data/total_return.csv")